body {
    
    background: linear-gradient(black, gray);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
}

pre, php {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    color: white;
}


php {
    display: block;
    white-space: pre-wrap;
    margin: 20px 0;
}
